* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  html { 
    scroll-behavior: smooth; 
  }
  
  .container {
    position: relative;
    width: 1746px;
    height: 1574px;
    margin: 0 auto;
  }
  
  nav {
    position: absolute;
    width: 1746px;
    height: 64px;
    left: 0px;
    top: -1px;
  }
  .Home {
    width: 60.6px;
    height: 52.11px;
    left: 28.55px;
    top: 1px;
  }
  
  .Home a{
    position:absolute;
    width: 60.6px;
    height: 59.38px;
    left: 28.55px;
    top: 1px;
    list-style: none;
  }
  
  nav .Menu ul {
    display: flex;
    list-style: none;
  }
  
  nav .Menu ul li1 {
    position:absolute;
    float: left;
    padding: 0 20px;
    width: 238px;
    height: 52.11px;
    left: 121px;
    top: 10px;
  }
  
  nav .user-icon{
  position: absolute;
  width: 60.06px;
  height: 60.06px;
  left: 1650.55px;
  top: 3px;
  }
  
  nav .Menu ul li2 {
    position:absolute;
    float: left;
    padding: 0 20px;
    width: 238px;
    height: 52.11px;
    left: 310px;
    top: 10px;
  }
  
  nav .Menu ul li3 {
    position:absolute;
    float: left;
    padding: 0 20px;
    width: 238px;
    height: 52.11px;
    left: 590px;
    top: 10px;
  }
  nav .Menu ul li4 {
    position:absolute;
    float: left;
    padding: 0 20px;
    width: 238px;
    height: 52.11px;
    left: 860px;
    top: 10px;
  }
  nav .Menu ul li1 a {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29.0859px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  
  nav .Menu ul li2 a {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29.0859px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  nav .Menu ul li3 a {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29.0859px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  nav .Menu ul li4 a {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29.0859px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  
  .Menu ul li1 a:hover{
    color: #0021FF;
  }
  
  .Menu ul li2 a:hover{
    color: #0021FF;
  }
  .Menu ul li3 a:hover{
    color: #0021FF;
  }
  .Menu ul li4 a:hover{
    color: #0021FF;
  }
  
  nav .search {
    position: absolute;
    width: 409.79px;
    height: 55.75px;
    left: 1250px;
    top: 3px;
  }
  
  header {
    position: absolute;
    width: 1746px;
    height: 494px;
    left: -0.45px;
    top: 62px;
  
    background: url("https://cdn.glitch.me/3e30c75a-6d2a-4b95-8549-1941573d75cf%2Fdai-hoc-uit%201.svg?v=1638179319888");
  }
  
  .title ul {
    position: absolute;
    width: 827px;
    height: 107px;
    left: 21.55px;
    top: 55px;
  
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #09699F;
  
    border: 1.7px solid #00000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  article {
    position: absolute;
    width: 1747px;
    height: 1492px;
    left: 0px;
    top: 556px;
  
    background: url("https://cdn.glitch.me/3e30c75a-6d2a-4b95-8549-1941573d75cf%2FMainPageBG.png?v=1638258638609");
  }
  
  header .search{
      margin-top : 3px;
      height : 40px;
      margin-right: auto;
    }
  
  header .UIT-logo{
    position: absolute;
    width: 135px;
    height: 106px;
    left: 1577.55px;
    top: 60px;
  }
  
  article .Logintable ul{
    position: absolute;
  width: 300px;
  height: 53px;
  left: 160px;
  top: 10px;
  
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  }
  
  article .Logintable{
    position: absolute;
  width: 488px;
  height: 63.76px;
  left: 40px;
  top: 200px;
  
  background: rgba(129, 233, 248, 0.59);
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  }
  
  article .Panel1{
    position: absolute;
  width: 488px;
  height: 534.5px;
  left: 40px;
  top: 200px;
  
  background: rgba(255, 255, 255, 0.23);
  mix-blend-mode: hard-light;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  }
  
  article .Panel2{
    position: absolute;
  width: 391px;
  height: 270.99px;
  left: 92px;
  top: 312px;
  
  background: rgba(129, 233, 248, 0.35);
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  }
  
  article .Tendangnhap{
  position: absolute;
  width: 151px;
  height: 28.89px;
  left: 20px;
  top: 20px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  
  color: #000000;
  }
  
  
  
  article .Thongbaotable ul{
    position: absolute;
  width: 300px;
  height: 53px;
  left: 662px;
  top: 80px;
  
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  
  color: #000000;
  }
  
  article .Panel4{
    position: absolute;
  width: 1070.57px;
  height: 555px;
  left: 627.55px;
  top: 70px;
  
  background:  #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  }
  
  article .Panel4 ul{
    position: absolute;
  width: 1000px;
  height: 89px;
  left: 30px;
  top: 80px;
  
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 30px;
  
  color: #000000;
  }
  
  article .Panel4 ul a{
    text-decoration: none;
    color: #121BF4;
  }
  
  article .Panel4 ul a:hover{
    color: #E4852E;
  }
  
  nav .search {
    font-size: 25px;
    position: absolute;
    width: 409.79px;
    height: 55.75px;
    background-image: url(https://cdn.glitch.me/3e30c75a-6d2a-4b95-8549-1941573d75cf%2Fsearch.png?v=1638179317687);
    background-position: 350px 5px;
    background-repeat: no-repeat;
    border: 1.51489px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4.84766px 4.84766px rgba(0, 0, 0, 0.25);
    border-radius: 30.2979px;
    padding-left: 40px;
    padding-right: 73px
  }
  
  nav .search:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
  }
  
  article .Panel3{
  position: absolute;
  width: 1070.57px;
  height: 64px;
  left: 627.55px;
  top: 70px;
  
  background: #AFF1FF;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  }
  
  article .Panel5{
    position: absolute;
  width: 459px;
  height: 64px;
  left: 93px;
  top: 70px;
  
  background: #AFF1FF;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  }
  
  article .Tinnoibat{
    position: absolute;
  width: 395px;
  height: 53px;
  left: 126px;
  top: 80px;
  
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  
  color: #000000;
  }
  
  article .Panel6{
    position: absolute;
  width: 459px;
  height: 1135px;
  left: 93px;
  top: 80px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  }
  
  article .Panel6 ul{
    position: absolute;
  width: 419px;
  height: 208px;
  left: 25px;
  top: 80px;
  
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 39px;
  
  color: #000000;
  }
  
  article .Panel6 ul a{
    text-decoration: none;
    color: #121BF4;
  }
  
  article .Panel6 ul a:hover{
    color: #E4852E;
  }
  
  article .Panel7{
    position: absolute;
  width: 1071px;
  height: 320px;
  left: 627.55px;
  top: 680px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  }
  
  article .Panel8{
    position: absolute;
  width: 1071px;
  height: 64px;
  left: 627.55px;
  top: 680px;
  
  background: #AFF1FF;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  }
  
  article .Thongbaocanhan{
    position: absolute;
  width: 339px;
  height: 60px;
  left: 662px;
  top: 690px;
  
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  }
  
  article .Panel7 ul{
    position: absolute;
  width: 321px;
  height: 55px;
  left: 25px;
  top: 80px;
  
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
    color: #121BF4;
  }
  
  