* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  html { 
    scroll-behavior: smooth; 
  }
  
  .container {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
  }
  
  .title{
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;

    background-image: url("/Pics/Upper.png");
  }
  